<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:demo_wooki</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password" />
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<mapping class="com.wooki.domain.model.Author" />
		<mapping class="com.wooki.domain.model.Book" />
		<mapping class="com.wooki.domain.model.Chapter" />
		<mapping class="com.wooki.domain.model.Comment" />
		<mapping class="com.wooki.domain.model.CommentLabel" />
		<mapping class="com.wooki.domain.model.Activity" />
	</session-factory>
</hibernate-configuration>