/*
Theme inspired from kuler scheme : http://kuler.adobe.com/#themeID/617195
	2F2F32	6E6D65 	C9BB9B	FFD8A1	FF7351
*/

.clearer { clear:both; }

/*TRYING TO RESET STYLES THAT MAY INTERFERE WITH WYMEDITOR*/
        .wym_skin_wooki p, .wym_skin_wooki h2, .wym_skin_wooki h3,
        .wym_skin_wooki ul, .wym_skin_wooki li { background: transparent url(); margin: 0; padding: 0; border-width:0; list-style: none; }


/*HIDDEN BY DEFAULT*/
        .wym_skin_wooki .wym_area_left          { display: none; }
        .wym_skin_wooki .wym_area_right         { display: none; }


/*TYPO*/    
        .wym_skin_wooki                { font-size: 14px; font-family: Verdana, Arial, sans-serif; }
        .wym_skin_wooki h2             { font-size: 26px; /* = 11px */}
        .wym_skin_wooki h3             { font-size: 20px; /* = 10px */}
        .wym_skin_wooki li             { font-size: 12px; /* = 10px */}


/*WYM_BOX*/
        .wym_skin_wooki                { background-color: white; padding: 5px}

    /*auto-clear the wym_box*/
        .wym_skin_wooki:after 	        { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 * html .wym_skin_wooki                { height: 1%;}


/*WYM_HTML*/
        .wym_skin_wooki .wym_html               { width: 100%; }
        .wym_skin_wooki .wym_html textarea      { width: 100%; height: 400px; border: 1px solid #C9BB9B; }


/*WYM_IFRAME*/
        .wym_skin_wooki .wym_iframe             { width: 100%; }
        .wym_skin_wooki .wym_iframe iframe      { width: 100%; height: 400px;  background-color: white;  border: 1px solid #C9BB9B; }


/*AREAS*/
        .wym_skin_wooki .wym_area_left          { width: 140px; float: left;}
        .wym_skin_wooki .wym_area_right         { width: 140px; float: right;}
        .wym_skin_wooki .wym_area_bottom        { height: 1%; clear: both;}
 * html .wym_skin_wooki .wym_area_main          { height: 1%;}
 * html .wym_skin_wooki .wym_area_top           { height: 1%;}
 *+html .wym_skin_wooki .wym_area_top           { height: 1%;}

/*SECTIONS SYSTEM*/

    /*common defaults for all sections*/
        .wym_skin_wooki .wym_section            { margin-bottom: 5px;  float:left;}
        .wym_skin_wooki .wym_section h2,
        .wym_skin_wooki .wym_section h3         { padding: 1px 3px; margin: 0; }
        .wym_skin_wooki .wym_section a          { padding: 0 3px; display: block; text-decoration: none; color: black; }
        .wym_skin_wooki .wym_section a:hover    { background-color: #FF7351; }
      /*hide section titles by default*/
        .wym_skin_wooki .wym_section h2         { display: none; }
      /*disable any margin-collapse*/
        .wym_skin_wooki .wym_section            { padding-top: 1px; padding-bottom: 1px; }    
      /*auto-clear sections*/
        .wym_skin_wooki .wym_section ul:after   { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 * html .wym_skin_wooki .wym_section ul         { height: 1%;}

    /*option: add this class to a section to make it render as a panel*/
        .wym_skin_wooki .wym_panel              { }
        .wym_skin_wooki .wym_panel h2           { display: block; }

    /*option: add this class to a section to make it render as a dropdown menu*/
		.wym_skin_wooki .wym_dropdown           { width:150px; padding: 0; border:1px solid #C9BB9B; float:right ; margin:5px 10px 5px 0px; }
        .wym_skin_wooki .wym_dropdown h2        { padding:5px; display:block; font-family: Helvetica, Arial, sans-serif; font-size: 18px;}
        .wym_skin_wooki .wym_dropdown ul        { width:150px;  display: none; position: absolute; background: white; padding:5px; border: solid #C9BB9B; border-width: 1px 1px 1px 1px; margin-left:-2px; }
        .wym_skin_wooki .wym_dropdown:hover ul,
        .wym_skin_wooki .wym_dropdown.hover ul  { display: block; padding:0px; margin:0px; margin-left:-1px; box-shadow: 0px 0px 10px rgba(47,47,50,0.4); -webkit-box-shadow: 0px 0px 10px rgba(47,47,50,0.4); -moz-box-shadow: 0px 0px 10px rgba(47,47,50,0.4); }
		.wym_skin_wooki .wym_dropdown li        { padding:0px; margin:0px;  margin-left:-1px;}
		.wym_skin_wooki .wym_dropdown  a    	{ padding:5px 10px; display:block; }

    /*option: add this class to a section to make its elements render buttons (icons are only available for the wym_tools section for now)*/
        .wym_skin_wooki .wym_buttons li         { float:left;  margin:7px 0px 0px 0px; }
        .wym_skin_wooki .wym_buttons a          { width: 20px; height: 20px; overflow: hidden; padding: 2px; }
		
      /*image replacements*/
        .wym_skin_wooki .wym_buttons li a                         { background: url(icons.png) no-repeat; text-indent: -9999px;} 
        .wym_skin_wooki .wym_buttons li.wym_tools_strong a        { background-position: 0 -382px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_emphasis a      { background-position: 0 -22px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_superscript a   { background-position: 0 -430px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_subscript a     { background-position: 0 -454px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_ordered_list a  { background-position: 0 -48px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_unordered_list a{ background-position: 0 -72px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_indent a        { background-position: 0 -574px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_outdent a       { background-position: 0 -598px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_undo a          { background-position: 0 -502px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_redo a          { background-position: 0 -526px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_link a          { background-position: 0 -96px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_unlink a        { background-position: 0 -168px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_image a         { background-position: 0 -121px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_table a         { background-position: 0 -144px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_paste a         { background-position: 0 -552px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_html a          { background-position: 0 -193px;}
        .wym_skin_wooki .wym_buttons li.wym_tools_preview a       { background-position: 0 -408px;}

/*DECORATION*/
        .wym_skin_wooki .wym_section h2             { font-size:14px !important; background: #fff;  }
        .wym_skin_wooki .wym_section h2 span        { color: gray;}
        .wym_skin_wooki .wym_panel                  { padding: 0; border-width: 1px; background: white;}    
        .wym_skin_wooki .wym_panel ul               { margin: 2px 0 5px; }        
        
        
/*DIALOGS*/
        .wym_dialog div.row         { margin-bottom: 5px;}
        .wym_dialog div.row input   { margin-right: 5px;}
        .wym_dialog div.row label   { float: left; width: 150px; display: block; text-align: right; margin-right: 10px; }
        .wym_dialog div.row-indent  { padding-left: 160px; }
        /*autoclearing*/        
        .wym_dialog div.row:after            { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
        .wym_dialog div.row                  { display: inline-block; }
            /* Hides from IE-mac \*/
            * html .wym_dialog div.row       { height: 1%; }
            .wym_dialog div.row              { display: block; }
            /* End hide from IE-mac */                
            
/*WYMEDITOR_LINK*/
        a.wym_wymeditor_link        { text-indent: -9999px; float: right; display: block; width: 50px; height: 15px; background: url(../wymeditor_icon.png);  overflow: hidden; text-decoration: none;  }
		
/* CONTAINERS STYLES */
.wym_containers_h3 { font-size: 20px !important;}
.wym_containers_h4 { font-size: 18px !important;}
.wym_containers_h5 { font-size: 16px !important;}
.wym_containers_h6 { font-size: 14px !important;}
.wym_containers_pre { font-family:"Courier New", Courier, monospace;}
.wym_containers_blockquote { font-style:italic;}
.wym_containers_th { font-weight:bold;} 
