<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Wooki Application Test Suite" annotations="1.5"
	parallel="false">

	<test name="Unit Tests" enabled="true">
		<packages>
			<package name="com.wooki.test.unit" />
		</packages>
	</test>

	<test name="Integration Tests" parallel="false" enabled="true">
		<packages>
			<package name="com.wooki.test.integration" />
		</packages>
		<classes>
			<class name="org.apache.tapestry5.test.SeleniumLauncher" />
		</classes>
	</test>

</suite>
